doctype html
html
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title=title
    link(rel="scss", href="../styles/fonts.scss")
    link(rel="scss", href="../styles/main.scss")
body.circle-bg
    include ../scripts/components/top-bar/top-bar.component.pug
    router-view#main
        div#main-container
            include ../scripts/components/header/header.component.pug
            block content
    include ../scripts/components/footer/footer.component.pug
    script(async src="../scripts/main.ts", type="module")